.body-container {
    min-height: 600px;
}

#header-container {
    display: flex;
    padding: 20px 0 10px;
    margin-top: 15px;
    align-items: center;
}

#header-container h1 {
    font-size: 22px;
    flex-grow: 1;
    margin: 0;
}

#header-container form {
display: flex;
}

#header-container form .search {
    width: 250px;
}

#header-container form button {
    width: 50px;
}

.sidebar-nav {
width: 200px;
padding: 40px 20px 20px;
box-sizing: border-box;
}

.page-title {
font-size: 22px;
padding: 20px 0 10px;
margin-top: 15px;
}

.sidebar-nav .nav-item {
display: flex;
line-height: 18px;
margin-bottom: 10px;
font-size: 15px;
}

.sidebar-nav .nav-item svg{
color: #fff;
margin-right: 15px;
}

.sidebar-nav .nav-link {
padding: 0 0 20px 0;
}

.filter-container {
background-color: #ffffff;
width: 100%;
height: auto;
margin: 20px 0;
padding: 20px;
}

.filter-container .row {
    display: flex;
    height: 50px;
}

.filter-container select {
max-width: 200px;
margin: 0 5px;
}

.filter-container input[type=date] {
    max-width: 160px;
    margin: 0 5px;
}

.filter-container .search-button {
    max-width: 50px;
    margin: 0 5px;
}

.error {
    color: #ff0000;
    font-weight: 600;
}

.export_form {
    text-align: right;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.filter_form .select2-selection.select2-selection--single,
.filter_form .select2-selection__rendered,
.select2-selection__arrow {
    height: 37px!important;
    line-height: 35px!important;
}

.select2.select2-container.select2-container--default {
    margin-right: 10px;
}

.section {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 10px;
}

.vac_count_cont {
    margin-top: 20px;
    max-height: 300px;
    overflow-y: auto;
}

.vac_count_cont p {
    margin: 0;
}

.filter_col {
    margin: 0 10px;
    text-align: center;
}
.filter_label {
    display: block;
    margin: 0;
    line-height: 15px;
}

.settings-container {
    display: flex;
    margin-bottom: 50px;
}

.hidden  {
    display: none!important;
}

@media (min-width: 1200px) {
.header-container {
    max-width: 100%;
}
}
